@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [data-theme="default"] {
    --color-primary: 82, 112, 255;
    --color-primary-dark: 62, 92, 223;
    --color-primary-darker: 42, 72, 191;
    --color-secondary: 55, 163, 165;
    --color-secondary-dark: 35, 143, 145;
    --color-secondary-darker: 15, 123, 125;
    --color-typography: 109, 107, 108;
    --color-typography-dark: 89, 87, 88;
    --color-typography-darker: 69, 67, 68;
  }

  .textsize-inherit {
    font-size: inherit;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 48;
}

.material-symbols-filled {
  font-variation-settings: "FILL" 1, "wght" 500, "GRAD" 0, "opsz" 48;
}
